VITE_API_URL=http://localhost:3000
VITE_API_KEY=sk-a7Fq2mXvR9pLdN4wKjY8uCeT3bZhG6oWsE1nViP5cQ0yMAJtHrOlBfDgUx
VITE_GOOGLE_CLIENT_ID=12390856801-o617hg0k6cqe1gdpbfiovhp83uq2nnu2.apps.googleusercontent.com
